# CS2FW Environment Example

ENABLED="1"

# WireGuard interface
WG_IF="wg81"

# LAN interface
LAN_IF="br0"

# SG-VPS WG source IP
VPS_WG_IPS="10.8.0.1"

# CS2 server in LAN
TARGET_LAN_IPS="192.168.50.101"

# Router LAN IP
ROUTER_LAN_IP="192.168.50.1"

# Ports
PORTS="27015"
PROTOS="udp tcp"

# iptables chain name
NAT_CHAIN="SG_CS2FW_SNAT"

# Watchdog cron
CRON_NAME="sg_cs2fw_watch"
WATCH_CRON="*/5 * * * *"

# Log
LOG_FILE="/tmp/sg-cs2fw.log"
MAX_LOG_LINES="200"
